[package]
authors = ["Pavel Ivanov <mr.pavel.ivanov@gmail.com>"]
categories = ["command-line-utilities"]
description = "Utility for viewing json-formatted log files."
keywords = ["cli", "human", "log"]
name = "hl"
version = "0.20.0-beta.12.1"
edition = "2021"
build = "build.rs"

[build-dependencies]
capnpc = "0.17"
generic-array = "0"
hex = "0"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
sha2 = "0"

[dependencies]
nu-ansi-term = "0"
anyhow = "1"
atoi = "1"
atty = "0"
bincode = "1"
bitmask = "0" 
bytefmt = "0"
capnp = "0.17"
chrono = { version = "0", features = ["serde"] }
chrono-tz = { version = "0", features = ["serde"] }
closure = "0"
clru = "0"
collection_macros = "0"
config = "0"
crossbeam-channel = "0"
crossbeam-queue = "0"
crossbeam-utils = "0"
derive_deref = "1"
enum-map = "2"
error-chain = "0"
flate2 = "1"
generic-array = "0"
heapless = "0"
hex = "0"
htp = "0"
humantime = "2"
itertools = "0"
num_cpus = "1"
once_cell = "1"
platform-dirs = "0"
regex = "1"
rust-embed = "6"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
serde_yaml = "0"
sha2 = "0"
shellwords = "1"
signal-hook = "0"
snap = "1"
time = "0.2"
thiserror = "1"
wildmatch = "2"

[dependencies.itoa]
version = "1"
default-features = false

[dependencies.clap]
version = "4"
features = ["wrap_help", "derive", "env"]

[dependencies.winapi]
version = "0"
features = ["handleapi"]

[dev-dependencies]
byte-strings = "0"
criterion = "0"
diligent-date-parser = "0"
pipe = "0"
stats_alloc = "0"
time = "0.2"
regex = "1"
wildmatch = "2"

[profile.release]
debug = false
opt-level = 3
codegen-units = 1
lto = true

[[bench]]
name = "regex"
harness = false

[[bench]]
name = "ts-parse"
harness = false

[[bench]]
name = "ts-format"
harness = false

[[bench]]
name = "wildcard"
harness = false

[[bench]]
name = "theme"
harness = false

[[bench]]
name = "parse-and-format"
harness = false

[[bench]]
name = "json"
harness = false
