[workspace]
members = [".", "crate/encstr"]

[workspace.package]
repository = "https://github.com/pamburus/hl"
authors = ["Pavel Ivanov <mr.pavel.ivanov@gmail.com>"]
version = "0.29.5"
edition = "2021"
license = "MIT"

[package]
name = "hl"
description = "JSON and logfmt log converter to human readable representation"
categories = ["command-line-utilities"]
keywords = ["cli", "human", "log"]
build = "build.rs"
repository.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true

[build-dependencies]
capnpc = "0.19"
hex = "0"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
sha2 = "0"

[dependencies]
bincode = "1"
bitmask = "0"
bitmask-enum = "2"
bytefmt = "0"
capnp = "0.19"
chrono = { version = "0.4", default-features = false, features = [
    "clock",
    "serde",
    "std",
] }
chrono-tz = { version = "0", features = ["serde"] }
clap = { version = "4", features = ["wrap_help", "derive", "env", "string"] }
clap_complete = "4"
clap_mangen = "0"
closure = "0"
collection_macros = "0"
config = "0"
crossbeam-channel = "0"
crossbeam-queue = "0"
crossbeam-utils = "0"
derive_deref = "1"
encstr = { path = "./crate/encstr" }
enum-map = "2"
flate2 = "1"
heapless = "0"
hex = "0"
htp = { git = "https://github.com/pamburus/htp.git" }
humantime = "2"
itertools = "0.13"
itoa = { version = "1", default-features = false }
notify = { version = "6", features = ["macos_kqueue"] }
nu-ansi-term = "0"
num_cpus = "1"
once_cell = "1"
pest = "2"
pest_derive = "2"
platform-dirs = "0"
regex = "1"
rust-embed = "8"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
serde-logfmt = { path = "./crate/serde-logfmt" }
serde_yaml = "0"
sha2 = "0"
shellwords = "1"
signal-hook = "0"
snap = "1"
strum = { version = "0", features = ["derive"] }
thiserror = "1"
wildflower = { git = "https://github.com/cassaundra/wildflower.git" }
winapi-util = { version = "0" }
wyhash = "0"

[target.'cfg(target_os = "macos")'.dependencies]
kqueue = "1"

[dev-dependencies]
byte-strings = "0"
criterion = "0"
maplit = "1"
stats_alloc = "0"
regex = "1"
wildmatch = "2"

[profile.release]
debug = false
opt-level = 3
codegen-units = 1
lto = true

[[bench]]
name = "regex"
harness = false

[[bench]]
name = "ts-parse"
harness = false

[[bench]]
name = "ts-format"
harness = false

[[bench]]
name = "wildmatch"
harness = false

[[bench]]
name = "wildflower"
harness = false

[[bench]]
name = "theme"
harness = false

[[bench]]
name = "parse-and-format"
harness = false

[[bench]]
name = "string"
harness = false

[[bench]]
name = "json"
harness = false

[[bench]]
name = "mem"
harness = false

[[bench]]
name = "encstr"
path = "benches/encstr/benches.rs"
harness = false
