[workspace]
members = [".", "crate/encstr"]

[workspace.package]
repository = "https://github.com/pamburus/hl"
authors = ["Pavel Ivanov <mr.pavel.ivanov@gmail.com>"]
version = "0.30.1-alpha.1"
edition = "2021"
license = "MIT"

[package]
name = "hl"
description = "JSON and logfmt log converter to human readable representation"
categories = ["command-line-utilities"]
keywords = ["cli", "human", "log"]
build = "build.rs"
repository.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true

[build-dependencies]
capnpc = "0"
hex = "0"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
sha2 = "0"

[dependencies]
bincode = "1"
bytefmt = "0"
capnp = "0"
chrono = { version = "0", default-features = false, features = ["clock", "serde", "std"] }
chrono-tz = { version = "0", features = ["serde"] }
clap = { version = "4", features = ["wrap_help", "derive", "env", "string"] }
clap_complete = "4"
clap_mangen = "0"
closure = "0"
collection_macros = "0"
config = { version = "0", features = ["yaml", "json", "toml"] }
crossbeam-channel = "0"
crossbeam-queue = "0"
crossbeam-utils = "0"
deko = "0"
derive_more = {version="1", features = ["deref", "from"]}
dirs = "5"
dirs-sys = "0"
encstr = { path = "./crate/encstr" }
enum-map = "2"
enumset = "1"
enumset-ext = { path = "./crate/enumset-ext" }
env_logger = "0"
flate2 = "1"
heapless = "0"
hex = "0"
htp = { git = "https://github.com/pamburus/htp.git" }
humantime = "2"
itertools = "0.13"
itoa = { version = "1", default-features = false }
known-folders = "1"
log = "0"
nonzero_ext = "0"
notify = { version = "7", features = ["macos_kqueue"] }
nu-ansi-term = "0"
num_cpus = "1"
once_cell = "1"
pest = "2"
pest_derive = "2"
regex = "1"
rust-embed = "8"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
serde_yml = "0"
serde-logfmt = { path = "./crate/serde-logfmt" }
sha2 = "0"
shellwords = "1"
signal-hook = "0"
snap = "1"
strum = { version = "0", features = ["derive"] }
thiserror = "2"
titlecase = "3"
toml = "0"
wild = "2"
wildflower = { git = "https://github.com/cassaundra/wildflower.git" }
winapi-util = { version = "0" }
wyhash = "0"

[target.'cfg(target_os = "macos")'.dependencies]
kqueue = "1"

[dev-dependencies]
byte-strings = "0"
clean-path = "0"
criterion = "0"
maplit = "1"
mockall = "0"
stats_alloc = "0"
regex = "1"
wildmatch = "2"

[profile.release]
debug = false
opt-level = 3
codegen-units = 1
lto = true

[[bench]]
name = "regex"
harness = false

[[bench]]
name = "ts-parse"
harness = false

[[bench]]
name = "ts-format"
harness = false

[[bench]]
name = "wildmatch"
harness = false

[[bench]]
name = "wildflower"
harness = false

[[bench]]
name = "theme"
harness = false

[[bench]]
name = "parse-and-format"
harness = false

[[bench]]
name = "string"
harness = false

[[bench]]
name = "json"
harness = false

[[bench]]
name = "mem"
harness = false

[[bench]]
name = "encstr"
path = "benches/encstr/benches.rs"
harness = false
