[workspace]
members = [
    ".",
    "crate/attachment",
    "crate/encstr",
    "crate/enumset-ext",
    "crate/enumset-serde",
    "crate/heapopt",
    "crate/json-ast",
    "crate/flat-tree",
    "crate/log-ast",
    "crate/log-format",
    "crate/log-format-auto",
    "crate/log-format-json",
    "crate/log-format-logfmt",
    "crate/serde-logfmt",
    "crate/styled-help",
]

[workspace.package]
repository = "https://github.com/pamburus/hl"
authors = ["Pavel Ivanov <mr.pavel.ivanov@gmail.com>"]
version = "0.33.1-alpha.1"
edition = "2024"
license = "MIT"

[package]
name = "hl"
description = "JSON and logfmt log converter to human readable representation"
categories = ["command-line-utilities", "development-tools", "parsing", "text-processing"]
keywords = ["cli", "log", "json", "logfmt", "viewer"]
build = "build.rs"
rust-version = "1.86.0"
repository.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true

[build-dependencies]
capnpc = "0.23"
hex = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
sha2 = "0.10"

[workspace.dependencies]
clap = { version = "4", features = ["wrap_help", "derive", "env", "string"] }
clap_complete = { version = "4" }
clap_mangen = { git = "https://github.com/pamburus/rust-clap.git", rev = "20f0ffd737581a5ebf7479d2174f2c197f25c94d" }

[dependencies]
anstream = "0.6"
bincode = { version = "2", features = ["serde"] }
bytefmt = "0.1"
capnp = "0.23"
chrono = { version = "0.4", default-features = false, features = ["clock", "serde", "std"] }
chrono-tz = { version = "0.10", features = ["serde"] }
clap = { workspace = true }
clap_complete = { workspace = true }
clap_mangen = { workspace = true }
closure = "0.3"
collection_macros = "0.2"
color-print = "0.3"
config = { version = "0.15", features = ["yaml", "json", "toml"] }
const-str = "0.7"
crossbeam-channel = "0.5"
crossbeam-queue = "0.3"
crossbeam-utils = "0.8"
deko = "0.5"
derive-where = "1"
derive_more = { version = "2", features = ["deref", "deref_mut", "from", "display"] }
dirs = "6"
dirs-sys = "0.5"
encstr = { path = "./crate/encstr" }
enum-map = "2"
enumset = "1"
enumset-ext = { path = "./crate/enumset-ext", features = ["serde", "clap"] }
enumset-serde = { path = "./crate/enumset-serde" }
env_logger = "0.11"
flat-tree = { path = "./crate/flat-tree" }
flate2 = "1"
heapless = "0.9"
heapopt = { path = "./crate/heapopt" }
hex = "0.4"
htp = { git = "https://github.com/pamburus/htp.git" }
humantime = "2"
itertools = "0.14"
itoa = { version = "1", default-features = false }
known-folders = "1"
log = "0.4"
logos = "0.16"
memchr = "2"
nonzero_ext = "0.3"
notify = { version = "8", features = ["macos_kqueue"] }
num_cpus = "1"
once_cell = "1"
owo-colors = "4"
pest = "2"
pest_derive = "2"
regex = "1"
rust-embed = "8"
serde = { version = "1", features = ["derive"] }
serde-logfmt = { path = "./crate/serde-logfmt" }
serde_json = { version = "1", features = ["raw_value"] }
styled-help = { path = "./crate/styled-help" }
serde_plain = "1"
sha2 = "0.10"
shellwords = "1"
signal-hook = "0.3"
snap = "1"
strsim = "0.11"
strum = { version = "0.27", features = ["derive"] }
terminal_size = "0.4"
thiserror = "2"
titlecase = "3"
toml = "0.9"
utf8-supported = "1"
wild = "2"
wildflower = { git = "https://github.com/cassaundra/wildflower.git" }
winapi-util = { version = "0.1" }
wyhash = "0.6"
yaml-peg = "1"

[target.'cfg(target_os = "macos")'.dependencies]
kqueue = "1"

[dev-dependencies]
assert_matches = "1"
base32 = "0.5"
byte-strings = "0.3"
clean-path = "0.2"
criterion = "0.8"
fnv = "1"
json-ast = { path = "./crate/json-ast" }
log-ast = { path = "./crate/log-ast" }
log-format-auto = { path = "./crate/log-format-auto" }
log-format-json = { path = "./crate/log-format-json" }
log-format-logfmt = { path = "./crate/log-format-logfmt" }
log-format = { path = "./crate/log-format" }
logos = "0"
maplit = "1"
mockall = "0.14"
rand = "0.9"
regex = "1"
rstest = "0.26"
stats_alloc = "0.1"
wildmatch = "2"

[profile.release]
debug = false
opt-level = 3
codegen-units = 1
lto = true

[profile.dev]
opt-level = 0
debug = true

[[bench]]
name = "bench"
harness = false
