# yaml-language-server: $schema=https://raw.githubusercontent.com/pamburus/hl/master/schema/json/config.schema.json
$schema: https://raw.githubusercontent.com/pamburus/hl/master/schema/json/config.schema.json

# Settings for fields processing.
fields:
  # Configuration of the predefined set of fields.
  predefined:
    time:
      names: ['ts']
    logger:
      names: []
    level:
      variants:
        - names: [v]
          values:
            debug: [2, 3, 4]
            info: [1]
            warning: [0]
        - names: [err]
          level: error
    message:
      names: [msg]
    caller:
      names: [caller]
