name: CI

on:
  push:
    branches: [master, release/*]
  pull_request:
    branches: [master, release/*]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate YAML configs
        uses: cardinalby/schema-validator-action@v3
        with:
          file: 'etc/defaults/config*.yaml'
          schema: 'schema/json/config.schema.json'

      - name: Validate YAML themes
        uses: cardinalby/schema-validator-action@v3
        with:
          file: 'etc/defaults/themes/*.yaml'
          schema: 'schema/json/theme.schema.json'

      - name: Setup taplo
        uses: uncenter/setup-taplo@v1

      - name: Validate TOML configs and themes
        run: taplo check

      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@v1
        with:
            toolchain: nightly
            components: rustfmt

      - name: Check formatting
        run: cargo +nightly fmt --verbose --all --check

      - name: Build
        run: cargo build --verbose --benches --workspace

      - name: Run tests
        run: cargo test --verbose --workspace

      - name: Run executable
        run: cargo run
