name: Coverage

on:
  push:
    branches: [master, release/*]
  pull_request:
    branches: [master, release/*]

jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate code coverage
        run: |
          make coverage

      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v4
        env: 
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
