name: Update flake.lock

on:
  schedule:
    - cron: "30 16 * * FRI" # Every Friday at 16:30 UTC
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  actions: write

defaults:
  run:
    shell: bash -euo pipefail {0}

jobs:
  update-lock:
    name: Update flake.lock
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.event.repository.name }}

      - name: Generate Auto-Merge GitHub App Token
        id: generate-automerge-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.AUTOMERGE_APP_ID }}
          private-key: ${{ secrets.AUTOMERGE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.event.repository.name }}

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Install Nix
        uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3

      - name: Update flake.lock
        run: nix flake update

      - name: Create pull request for flake.lock update
        id: create-pr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore(deps): update nix flake dependencies"
          branch: update-flake-lock
          title: "chore(deps): update flake.lock"
          body: "This pull request updates the flake.lock file with the latest flake inputs."
          author: "missionis[bot] <234988995+missionis[bot]@users.noreply.github.com>"
          committer: "missionis[bot] <234988995+missionis[bot]@users.noreply.github.com>"
          labels: |
            dependencies
            nix
          delete-branch: true

      - name: Enable auto-merge
        id: enable-auto-merge
        if: steps.create-pr.outputs.pull-request-number
        run: |
          gh pr merge --auto -ds ${{ steps.create-pr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ steps.generate-automerge-token.outputs.token }}
